#bazar_logo {
    width: 300px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

#bazar_login {
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f7f7f7;
    width: 400px;
    height: 390px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}
@media(max-width: 399px){
    #bazar_login{
        width: 95%;
    }
    #bazar_login_image {
        width: 80% !important;
    }
}
@media(max-width: 991px){
    #bazar_login{
        /* position: absolute; */
        /* left: 50%; */
        margin-top: 20px;
        height: 227px;
    }
}

.bazar_login_input {
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    width: 75%;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.bazar_login_button {
    height: 40px;
    line-height: 35px;
    text-align: center;
    width: 78%;
    border-radius: 4px;
    border: 1px solid #888;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    background: #00529c;    
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    cursor: pointer;
}

#bazar_login_image {
    width: 60%;
    margin: 0 auto;
    height: 150px;
}

.login_link {
    color: #00529c;
    float: left;
    text-align: left;
    position: relative;
    text-decoration: none;
    top: 15px;
    left: 45px;
    font-size: 9pt;
}

.login_link:hover {
    text-decoration: underline;
}
