body, html {
    margin:0px;
    padding:0px;
    font-family:helvetica;
    color:#333333;
    line-height:1.42857;
    font-size:12pt;
}
html{
    -ms-overflow-style:scrollbar;
}
button, input, select, textarea {
    font-size:12pt;
    color:inherit;
    font:inherit;
}
button:focus{
    outline:0;
}
table {
    border-spacing:1px;
    border-collapse:collapse;
}
img {
    /* vertical-align:middle; */
}
a{
    text-decoration:none;
    outline:0;
    /* display: inline; */
}
@font-face {
    font-family:neo_light;
    src:url('NeoFont/Neo Sans Light.ttf');
}
@font-face {
    font-family:neo_bold;
    src:url('NeoFont/Neo Sans Bold.ttf');
}
@font-face {
    font-family:neo;
    src:url('NeoFont/Neo Sans.ttf');
}
@font-face {
    font-family:jeanne_regular;
    src:url('OpenSansFont/OpenSans_Regular.ttf');
}
@font-face {
    font-family:jeanne;
    src:url('OpenSansFont/OpenSans_CondLight.ttf');
}
@font-face {
    font-family:jeanne_bold;
    src:url('OpenSansFont/OpenSans_CondBold.ttf');
}
@font-face {
    font-family:jeanne_italic;
    src:url('OpenSansFont/OpenSans_CondLightItalic.ttf');
}
/*Font awesome*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-th-list:before {
    content: "\f00b";
}
.fa-th:before {
    content: "\f00a";
}
::selection {
    background:#00529c;
    color:#fff;
}
::-moz-selection {
    background:#00529c;
    color:#fff;
}
td, th {
    padding:0px;
}
#wrap{
    position:relative;
    margin:0px;
    padding:0px;
    border-collapse:collapse;
    width:100%;
    overflow: hidden;
    /* height: 100%; */
    min-height: 100%;
}
.container-topHeader{
    width:95%;
    margin-right:auto;
    margin-left:auto;
    padding-left:10px;
    padding-right:10px;
}

#bazarHeader {
    background-color:#FFFFFF;
    z-index: 6;
    margin-bottom:25px;
    /* border-bottom: 1px solid #D5D5D5; */
}
@media(max-width:991px){
    #bazarHeader{
        border-bottom:1px solid #E0E0E0;
        margin-bottom:0px;
    }
}
/* New design menu */
#bazarHeader_top {
    margin:0px 0px 10px 5px;
    padding:0px;
    padding-right:0px !important;
    border:1px solid #D5D5D5;
    height:50px;
    border-radius:5px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    width:100% !important;
    background:#E7E5E5;
    background:-moz-linear-gradient(#fff,#E7E5E5);
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0, #E7E5E5),color-stop(1, #fff));
    background:-webkit-linear-gradient(#fff,#E7E5E5);    
    background:-o-linear-gradient(#fff,#E7E5E5);	
    background:-ms-linear-gradient(#fff,#E7E5E5);	
    background:linear-gradient(#fff,#E7E5E5);
    z-index:11000;
    color:#fff;
}
#bazarHeader_top li {
    list-style:none;
    display:inline-block;
    float:left;
    z-index:2;
}
.ssMenu {
    margin:0px auto;
    padding:0px;
    padding-top:5px;
    text-align:center;
    background:white;
}
.ssMenu li {
    display:inline-block;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px 0px;
    width:140px;
}
.subMenuTxt {
    color:#555;
    font-size:9pt !important;
    text-transform:uppercase;
    text-decoration:none;
    white-space:nowrap;
    font-weight:normal;
    font-family:neo !important;
}
.name, .name a {
    font-family:jeanne !important;
    font-size:18pt !important;
    color:#104c92 !important;
    font-weight:bold !important;
}
#subMenuTab {
    font-size:13pt !important;
    color:#777;
    position:absolute;
    bottom:20px;
    left:74px;
}
.ssMenu a:active, .ssMenu a:link, .ssMenu a:visited, .ssMenu a:hover {
    color:#555;
    text-decoration:none;
}
.subMenuSelected {
    border-bottom:2px solid #104C92;
    padding-bottom:4px !important;
}
.hoverMenuItem2 div {
    padding-top:5px;
}
.hoverMenuItem2:hover {
    border-bottom:1px solid #104C92;
    padding-bottom:5px !important;
}
.subMenuSelected:hover {
    border-bottom:2px solid #104C92;
    padding-bottom:4px !important;
}
.subMenuTxt h1 {
    color:#555;
    font-size:9pt !important;
    text-transform:uppercase;
    text-decoration:none;
    white-space:nowrap;
    font-weight:normal;
}
#subMenuTab h1 {
    font-size:13pt !important;
    color:#777;
}
.nMenuEntry {
    font-family:neo_bold;
    font-size:10pt;
    text-align:left;
    text-transform:uppercase;
    height:45px;
}
.nMenuSelected {
    background:white !important;
    border-bottom-left-radius:0 !important;
    border-bottom-right-radius:0 !important;
    padding-bottom:3px !important;
}
#logo_title {
    font-size:12pt;
    text-decoration:none;
    color:#104c92;
    cursor:pointer;
    display:none;
}
.siteLogo {
    margin-top:17px;
    padding-bottom:0px;
    position:relative;
    text-align:center;
    font-weight:normal;
}
.onlineMenu {
    position:relative;
    top:-4px;
    font-weight:normal;
    color:#555 !important;
}
#bazarHeader_top {
    background:#00529c;
    position:relative;
    width:100% !important;
    margin-left:0px;
    padding-right:2px;
    border:none !important;
    box-shadow:0 0 2px 2px #999;
    z-index:6;
}
#nMenuContainer {
    margin:0px !important;
    padding:0px !important;
    border:none !important;
}
#nMenuContainer li {
    padding:0px;
    width:auto;
}
#nMenuContainer li:hover {
    background:none;
}
#nMenuLogo {
    padding-top:5px;
    padding-bottom:9px;
    margin-top:0px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-radius:0px;
    width:145px;
    height:10px;
}
.menuIconImg {
    position:relative;
    top:-4px;
}
.nMenuSeparator {
    width:1px;
    padding:0px;
    margin:5px 0px 0px 0px;
    position:relative;
    top:1px;
    border-left:1px solid #0462b7;
    height:35px;
    margin-top:6px !important;
}
.nMenuSeparatorImage {
    float:right;
    position:relative;
    top:4px;
    display:none;
}
.onlineMenu {
    color:#fff !important;
}
.nMenuLink {
    text-decoration:none;
}
.nMenuEntry {
    margin-top:0px;
    width:110px !important;
}
.siteLogo {
    margin:0px;
    top:21px;
}
.nMenuSelected {
    width:100%;
    height:55px;
    margin:0px !important;
}
.nMenuSelected .onlineMenu {
    color:#00529c !important;
}
#system {
    width:250px;
    vertical-align:top;
}
.subMenu {
    margin:0px;
    padding:0px;
    width:100%;
    background:white;
}
.subMenu a:active {
    outline:none;
}
.ssMenu {
    margin:0px !important;
    padding:0px !important;
}
.ssMenu li {
    width:auto;
    display:flex;
    display:-webkit-flex;
    -webkit-flex-direction:row; 
}
.ssMenuSelected h1 {
    font-family:neo_bold;
}
.ssMenuEntry {
    margin:5px 0 !important;
}

.ssMenuImage {
    text-align:right;
}
.ssMenuImagePic {
    padding:10px;
    height:30px;
    width:30px;
}
.subMenuTxt {
    line-height:54px;
}

.subMenuTxt h1 {
    font-size:9pt !important;
}
#bazarHeader_top_text {
    width:80%;
    float:left;
    padding-left:20px;
    line-height:30px;
}
#bazarHeader_top_text span {
    font-weight:bold;
}
#bazarHeader_top_menu {
    font-weight:bold;
    display:inline-block;
    font-size:13pt;
    height:34px;
    position:absolute;
    top:8px;
    right:0px;
    padding-right:20px;
}
@media (max-width:991px){
    #bazarHeader_top_menu {
        padding-right:25px;
    }
}
@media(min-width:992px){
    #bazarHeader_top_menu>ul {
        align-items:center;
        -webkit-align-items:center;
        display:flex;
        display:-webkit-flex;;
        -webkit-flex-direction: row; 
    }
    .title{
        margin:15px 0px !important;
    }
    .container-bazar{
        width:97%;
    }
}
#bazarConnexion, #bazarInscription, #profil_top_layer {
    font-size:11pt;
    cursor:pointer;
    color:#fff;
}
#profil_top_layer {
    position:relative;
}
.bazar_top_menu_separator {
    border-right:1px solid #fff;
    height:12px;
    width:0px;
    margin:0 9px;
}
#bazarCountries {
    cursor:pointer;
    margin-top:-3px;
}
#bazarHeader_profil {
    position:relative;
}
#profil_top_layer_container {
    float:right;
}
#profil_bottom_layer_container {
    white-space:nowrap;
}
#profil_icon>img{
    position: relative;
    top: 0px;
}
#profil_bottom_layer_username {
    font-weight:bold;
    font-size:11pt;
    color:#00509a;
    cursor:pointer; 
    min-width:168px;
}
#profil_bottom_layer_username img, #profil_top_layer img{
    padding-left:5px;
}
#profil_email {
    font-weight:bold;
    padding:6px 0 !important;
}
#profil_data, #profil_ads, #profil_saved_ads, #profil_logout, #profil_messages {
    color:#909090;
    cursor:pointer;
    font-weight:normal;
    font-size:9pt;
}
.profil_entry {
    height:25px;
    line-height:25px;
}
.profil_entry img {
    position:relative;
    padding-right:5px;
}
#profil_data img {
    top:4px;
}
#profil_ads img {
    top:1px;
}
#profil_saved_ads img {
    top:1px;
}
#profil_logout img {
    top:4px;
}
#profil_notification {
    width:225px;
    padding-right:25px;
}
#profil_messages_notification {
    color:#fff;
    font-size:8pt;
    position:relative;
    top:1px;
    right:15px;
}
#bazar_user_menu_nav {
    margin-left:20px;
}
.bazar_user_menu_nav_text {
    color:#555;
}
.bazar_user_menu_nav_text:hover {
    color:#777;
}
.bazar_user_menu_nav_separator {
    border-right:1px solid #000;
    height:12px;
    width:0px;
    margin:0 15px;
}
.bazar_user_menu_nav_selected {
    text-decoration:underline;
}
#bazarHeader_bottom {
    margin-top:15px;
}
@media(max-width:679px){
    #bazarLogo {
        width:100%;
        display:flex;
        display:-webkit-flex;
        -webkit-flex-direction: row; 
        margin-bottom: 10px;
        -webkit-justify-content:center;
        justify-content:center;
        bottom:0px;
    }
    #bazarLogo_image{
        height:55px;

        position:relative;
        left:15px;
    }
    #buttonList>div{
        display:flex;
        display:-webkit-flex;
        -webkit-flex-direction:row;
        align-items:center;
        -webkit-align-items:center;
        justify-content:center;
        -webkit-justify-content:center;
        padding:0px 15px;
    }
}
@media(min-width:680px){
    #bazarLogo {
        width:41.66666667%;
        position:relative;
        top:7px;

        display:inline-block;
        float:left;
    }
    #bazarLogo_image{
        height:60px;
        position:relative;
        left: 12px;
    }
    #buttonList>div{
        display:flex;
        display:-webkit-flex;
        -webkit-flex-direction:row;
        align-items:center;
        -webkit-align-items: center;
        justify-content:space-between;
        -webkit-justify-content:space-between;
        padding:0px 15px;
    }
}
@media (min-width:992px){
    #bazarLogo {
        width:20%;
        display:inline-block;
        float:left;
        position:relative;
        top:2px;
    }
}
#bazarLogo_image {
    cursor:pointer;
}
@media(min-width:992px){
    #bazarInputs {
        margin-top:20px;
    }
}
#bazar_newAnnonce {
    cursor:pointer;
    text-align:right;
    margin-top:17px;
}
@media(max-width:679px){
    #bazarSearch_container_left{
        display:none !important;
    }
    #bazarSearch_container_middle{
        width:85.82677165354331%;
    }
    #bazarSearch_container_right{
        width:35px;
    }
    #bazarSearch_container_middle input{
        border-top-left-radius:7px;
        border-bottom-left-radius:7px;
        border-color:#00529C;
    }
}

@media(min-width:680px){
    #bazarSearch_container_left{
        width:11.02106969205835%;
    }
    /*
    #bazarSearch_container_middle{
        width:71.03439523453219%;
    }
    #bazarSearch_container_right{
        width:17.94453507340946%;
    }
    */
}
@media(min-width:700px){
    #bazarSearch_container_left{
        width:12.78579003181336%;
    }
    /*
    #bazarSearch_container_middle{
        width:70.7803738317757%;
    }
    #bazarSearch_container_right{
        width:16.43457943925234%;
    }
    */
}
@media(min-width:992px){

    #bazarSearch_container_left{
        width:13.78579003181336%;
    }
    /*
    #bazarSearch_container_middle{
        width:63.15694591728526%;
    }
    #bazarSearch_container_right{
        width:22.05726405090138%;
    }
    */
}

#bazarSearch_container_left, #bazarSearch_container_middle, #bazarSearch_container_right {
    height:32px;
}
.bazarSearch_container_advanced {
    font-size:8pt;
    line-height:15px;
    text-align:left;
    text-decoration:underline;
    cursor:pointer;
    margin-left:5px;
    width:35px;
    display: inline-block;
}
.bazarSearch_container_advanced a:hover {
    color:#777;
}
.bazarSearch_container_advanced a:visited {
    color:#555;
}
#bazarSearch_combo {
    position:relative;
    overflow:hidden;
    height: 100%;
}
#bazarSearch_combo_image {
    position:absolute;
    top:40%;
    z-index:10;
    right:7px;
}
#bazarSearch_choice {
    border:1px solid #e0e0e0;
    height: 100%;
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
    color:#777;
    background:#F7F7F7;
    cursor:pointer;
    padding-left:10px;
    outline:none;
    position:relative;    
}

#bazarSearch_choice, #bazarSearch_choice option {
    font-size:10pt;
}
#bazarSearch_text {
    height: 100%;
    border:1px solid #e0e0e0;
    padding-left:10px;
    font-size:10pt;
}
#bazarSearch_button {
    width:35px;
    height:100%;
    background:#00529c;
    background-image:linear-gradient(#0066C0, #01417B);
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
    border:none;
    cursor:pointer;
    position:relative;
    padding: 0px;
}
@-moz-document url-prefix() {
    #bazarSearch_button{
        bottom: 11px;
    }
}
#bazarSearch_button_image {
    width:18px;
    height:18px;
    position:absolute;
    top:7px;
    left:8px;
}
#bazar_newAnnonce_button {
    width:200px;
    height:37px;
    line-height:35px;
    border:1px solid #777;
    border-radius:5px;
    text-transform:uppercase;
    font-size:10pt;
    background:#00529C;
    background-image:linear-gradient(#0066C0, #01417B);
    color:#fff;
}
#main {
    margin:0px;
    padding:0px;
    border-collapse:collapse;
    width:100%;
    width:1240px;
    margin:0 auto;
}
#sidebar {
    display:inline-block;
    width:20%;
    float:left;
    /* clear: both; */
    /* margin-bottom: 39px; */
    /* overflow: auto; */
}
#content{
    width:80%;
    display:inline-block;
    float:left;
    position:relative;
}
@media(max-width:991px){
    #content{
        width:100%;
    }
    .mobile-sidebar-menu{
        width:300px !important;
        height:100%;
        position:absolute;
        top:0;
        border-right:2px solid #E0E0E0;
        transform:translateX(0px);
        -webkit-transform:translateX(0px);
        transition:transform 0.3s ease;
        -webkit-transition:transform 0.3s ease;
        z-index: 5;
        background-color:#ffffff;
    }
    .mobile-sidebar-menu.left{
        left:-300px;
    }
    .mobile-sidebar-menu.left.open{
        transform:translateX(300px);
        -webkit-transform:translateX(300px);
    }
    .mobile-sidebar-menu.right{
        right:-300px;
    }
    .mobile-sidebar-menu.right.open{
        transform:translateX(-300px);
        -webkit-transform:translateX(-300px);
    }
    #bazarSearch_container_left, #bazarSearch_container_middle, #bazarSearch_container_right {
        height:37px !important;
    }
    #bazarSearch_button_image{
        top: 10px;

        left: 25%;
    }
    #bazarSearch_button{
        width: 39px !important;
    
        bottom: 0px;
}
    .category{
        padding:0px !important;
    }
    .categories{
        margin:0px !important;
    }
    .category .category_entry{
        padding:12px 0px;
        padding-left:20px !important; 
        margin:0px;
    }
    .category .category_entry:active{
        background-color:#f5f5f5;
    }
    .category .category_entry:not(:last-child){
        border-bottom:1px solid #E0E0E0;
    }
    #userMenu .category_entry:first-child{
        border-top:1px solid #E0E0E0;
    }
}
#bazarBandeau {
    padding: 6px 10px;
    line-height:26px;
    float: left;
    background:#f7f7f7;
    text-align:center;
    border:1px solid #e0e0e0;
    color:#555;
    border-radius:5px;
    position:relative;
}
@media(max-width:991px){
    #bazarBandeau {
        border-radius:0px;
        border:none;
    }
}
#bazarBandeau span {
    color: #555;
    font-weight:bold;
    margin-left: 5px;
}
.category {
    padding:20px 0 0 0px;
}
.selectedCategory {
    font-weight:bold;
}
.showCategories {
    display:block !important;
}
.category_title, #annonces_une_title, #annonces_last_title {
    font-weight:bold;
}
.category_title.profil{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 14pt;
    color: #00529C;
}
.categories, .sub_categories, .search_section_data {
    list-style:none;
    padding:0px;
    margin:0px;
    margin-top:10px;
    font-size:11pt;
}
.sub_categories {
    display:none;
    margin-left:15px;
    font-size:10pt;
    /* margin-bottom:15px; */
}
.category_entry, .search_section_data_entry, .sub_category_entry {
    width:100%;
    margin:5px 0;
    cursor:pointer;
}
.category_number, .sub_category_number, .search_section_data_detail{
    color:#00529C;
    margin-left:5px;
}
.category_number, .sub_category_number, .search_section_data_detail{
    font-size:9pt;
}
#content {
    position:relative;
    z-index:0;
}
.annonces_entry_link, .bazar_link {
    text-decoration:none;
    color:#555;
    width:100%;
    height: 100%;
}
#annonces_une {
    position:relative;
    /* margin-bottom: 15px; */
}
#annonces_une_howto {
    position:absolute;
    top:10px;
    right:5px;
    font-size:9pt;
    cursor:pointer;
    display:none;
}
#annonces_une_howto:hover {
    text-decoration:underline;
}
#annonces_une_left, #annonces_une_right {
    width:100%;
    height:100px;
    background:#f7f7f7;
    border:1px solid #e0e0e0;
    padding:0 4px;
    cursor:pointer;
    height:110px;
}
#annonces_une_left {
    background:url("../img/icon/left.png") no-repeat center / 30px #f7f7f7;
}
#annonces_une_right {
    background:url("../img/icon/right.png") no-repeat center / 30px #f7f7f7;
}
#annonces_une_container_left, #annonces_une_container_right {
    vertical-align:top;
    width:3%;
}
#annonces_une_container {
    border-collapse:separate;
    /* border:1px solid #e0e0e0; */
    height: 250px;
    width:100%;
}
.annonces_une_block {
    height:100px;
    width:100%;
    position:absolute;
    top:0px;
}
#annonces_une_container_middle {
    width:90%;
    vertical-align:top;
    overflow:hidden;
    height:100px;
    position:relative;
}
.annonces_une_entry {
    float:left;
    cursor:pointer;
    padding-left: 1px;
    padding-right: 1px;
    width:100%;
    /* max-height: 250px; */
}
@media(max-width:569px){
    #annonces_une_container_left, #annonces_une_container_right {
        width:10%;
    }
    #annonces_une_container_middle{
        width:80%;
    }
}
@media(min-width:570px){
    #annonces_une_container_left, #annonces_une_container_right {
        width:5%;
    }
    #annonces_une_container_middle{
        width:90%;
    }
}
@media(min-width:701px){
    #annonces_une_container_left, #annonces_une_container_right {
        width:4%;
    }
    #annonces_une_container_middle{
        width:92%;
    }
}
/*
@media (max-width:569px){
    .annonces_une_entry {
        width:100%;
    }
}
@media (min-width:570px){
    .annonces_une_entry {
        width:50%;
    }
}
@media (min-width:916px){
    .annonces_une_entry {
        width:33.3333333%;
    }
}
@media (min-width:1182px){
    .annonces_une_entry {
        width:25%;
    }
}*/
.annonces_une_entry:hover, .annonces_last_entry:hover {
    opacity:0.9;
}
.annonces_une_entry_image {
    width:100%;
    height:120px;
    border:1px solid #e0e0e0;
    /* border-top:none; */
    margin-bottom:8px;
    text-align:center;
    height: 186px;
    width:100%;
    max-height: 200px;
    overflow: hidden;
}
.annonces_une_entry_title {
    color:#005dc3;
    width:100%;
    height:25px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.annonces_une_entry_genre {
    float:left;
    color:#aaa;
    font-size:11pt;
    line-height: 13px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 100%;
}
.annonces_une_entry_price {
    float: left;
    width: 100%;
    text-align: left;
    line-height: 26px;
    display: inline-block;
}
#annonces_last_content, #search_result_content {
    margin-bottom:20px;
}
.annonces_last_entry.phone-12.desk-6, .search_result_entry.phone-12.desk-6 {
    height:130px;
    border:1px solid #e0e0e0;
    margin:-1px 0 0 -1px;
    cursor:pointer;
    box-sizing:border-box;
}
.annonces_last_entry table, .search_result_entry table {
    width:100%;
    height:100%;
    position:relative;
}
.annonces_last_entry_image, .search_result_entry_image {
    display:inline-block;
    float:left;
    height:100%;
}
.annonces_last_entry_content, .search_result_entry_content{
    display:inline-block;
    float:left;
    height:100%;
}
.annonces_last_entry_image_pic, .search_result_entry_img_pic {
    width:100%;
    height:100%;
    overflow:hidden;
    line-height:90px;
    box-shadow: 1px 1px 0 0 #E0E0E0;
    text-align:center;
}
.annonces_last_entry_desc, .search_result_entry_desc {
    padding-left:15px;
    padding-top:15px;
}
.annonces_last_entry_info, .search_result_entry_info {
    height:100%;
}
annonces_last_entry_content, .search_result_entry_content{
    position:relative;
}
.annonces_last_entry_desc_urgent, .search_result_entry_desc_urgent {
    background:none repeat scroll 0 0 red;
    color:#fff;
    text-align:center;
    width:90px;
    font-weight:bold;
    margin-bottom:15px;
}
.annonces_last_entry_desc_title, .search_result_entry_desc_title {
    color:#005dc3;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    height:25px;
    font-size:16px;
}
.annonces_last_entry_desc_genre, .search_result_entry_desc_genre {
    color:#aaa;
    font-size:11pt;
}
.annonces_last_entry_info_price, .search_result_entry_info_price {
    text-align:right;
    padding-top:18px;
    margin-right:10px;
}
@media(max-width:679px){
    .annonces_last_entry_info_price, .search_result_entry_info_price{
        float:right;
        margin-right:15px;
        text-align:right;
        font-size:17px;
        color:#00529C;}
    .annonces_last_entry_info, .search_result_entry_info{
        height:auto;
        position:absolute;
        bottom:10px;
        right:0px;
    }
}
.bazar_euro {
    font-size:10pt;
    color:#555;
}
.annonces_last_entry_info_day, .search_result_entry_info_day {
    position:absolute;
    bottom:16px;
    right:10px;
    font-size:10pt;
}
#bazar_login_image img {
    margin-top: 17px;
    
}
/* Bazar images magic */
.bazar_image {
    display:none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.fillWidth {
    width:100%;
    height: auto;
    display:inline-block;
    /* vertical-align:middle; */
    /* margin-top:-2px; */
}
.fillHeight {
    height: 100%;
    width:auto;
    /* max-width: 100%; */
    /* max-height: 100%; */
    display:inline-block;
}
.full_width {
    width:1240px !important;
    margin:0 auto !important;
}
#loadedAnnonces {
    margin:20px 0;
}
/* Needed for resizeAllImages function */
.search_result_entry_image_pic {
    height: 100%;
}
/* Button */
.annonce_button {
    width:200px;
    height:35px;
    line-height:35px;
    text-align:center;
    border:1px solid #777;
    border-radius:5px;
    text-transform:uppercase;
    font-size:10pt;
    /* background:#00529c; */
    background: #00529C;    background-image: linear-gradient(#0066C0, #01417B);
    color:#fff;
    cursor:pointer;
    float:left;
    /* margin-left:10px; */
}
/* Pages */
#pages {
    margin-bottom:19px;
    text-align: right;
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
}
@media(max-width:679px){
    #pages{
        justify-content:center !important;
        text-align: center;
    }
}
.page_link {
    color:#555;
}
.page_element {
    color:#555;
    display:inline-block;
    width:30px;
    border:1px solid #e0e0e0;
    text-align:center;
    margin:0 1px;
}
.page_info {
    min-width:130px;
    white-space:nowrap;
    padding:0 15px;
}
.bazar_empty {
    position:relative;
    top:10px;
    font-size:11pt;
}
html,body {
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
}
#bazar_footer {
    width:100%;
    /* position: absolute; */
    /* bottom: 0px; */
    height: 40px;
    /* position: initial; */
    border-top:1px solid #dedede;
    /* clear: both; */
    background:#f8f8f8;
    display: block;
    padding-top:23px;
}
#bazar_footer_content {
    height:100%;
    display:flex;    
    display:-webkit-flex;
    -webkit-flex-direction:row; 
    align-items:center;
    -webkit-align-items:center;
}
@media(max-width:679px){
    #bazar_footer_content{
        text-align:center !important;
        display:block;
    }
    #bazar_footer{
        padding: 4px 0px;
    }
    #bazar_footer_links{
        margin-top:5px;
        margin-bottom: 5px;
        text-align:center !important;
    }
}
@media(min-width:680px){
    #bazar_footer{
        padding:10px 10px;
    }
}
@media(max-width:991px){
    #bazar_footer{
        height: 45px;
    }
}
#bazar_copy {
    font-size:8pt;
    float:left;
}
#bazar_footer_links {
    text-align:right;
}
#bazar_footer_links, #bazar_footer_links a {
    float:right;
    font-size:8pt;
    color:#727272;
}
#bazar_footer_links a {
    text-decoration:underline;
    ccursor:pointer;
}
#bazar_footer_link_email {
    text-decoration:none !important;
}
.bazar_footer_link{
    padding:0; 
    margin:0;
    /* margin-bottom: 15px; */
}
.bazar_footer_link>li {
    display:inline-block;
}

.bazar_footer_section, .bazar_footer_link_separator {
    display:inline-block;
    width:41px;
    text-align:center;
    position:relative;
    bottom:2px;
}

#bazarSearch_container_advanced a {
    color:#555;
}

#bazarSearch_container_advanced a:hover {
    color:#777;
}
.annonces_last_entry{
    box-shadow:/*Border last entry*/
        1px 0 0 0 #E0E0E0, 
        0 1px 0 0 #E0E0E0, 
        1px 1px 0 0 #E0E0E0,
        1px 0 0 0 #E0E0E0 inset, 
        0 1px 0 0 #E0E0E0 inset;
    height:130px;
}
.annonces_last_entry a {
    display:inline-block;
    width:100%;
    height:100%;
}
@media (min-width:1316px){
    .container-bazar{
        width:1284px;
    } 
}
.container-bazar{
    margin-right:auto;
    margin-left:auto;

}
/*Ajout des nouvelles classes*/
#nMenu_dropdown{
    position:absolute;
    top:0px;
    right:0px;
    width:38px;
    height:38px;
    padding:0;
    border:none;
    background-color:#00529C;
    border-radius:0px 0px 0px 5px;
    text-align:center;
    z-index:7;
}

button#nMenu_dropdown {}
@media(min-width:711px){
    #nMenu_dropdown{
        display:none !important;
    }
}
@media(min-width:680px)and (max-width:991px){
    #nMenuContainer, #bazarLogo, .title, #bazar_footer{
        padding-left:15px !important;
    }
    #bazarHeader_bottom {
        margin-top: 16px;

        margin-bottom: 3px;
    }
    .flickity-prev-next-button{
        width: 50px !important;
        height: 50px !important;
    }
}
@media(min-width:680px)and (max-width:711px){
    ul.dropdown{
        width:30% !important;
        right:0px !important;
        text-align:center;
        top:-180px !important;
    }
    #nMenu_dropdown{
        top:6px !important;
        right:6px;
        border-radius:5px 5px 5px 5px;
    }
    #bazarHeader_top{
        margin:0px;
    }
    .sorties{
        display:none;
    }
    .dropdown .sorties{
        display:inline-block !important;
    }
}
#nMenu_dropdown>a{
    text-decoration:none;
    color:white;
    width:100%;
    text-align:center;
}
#nMenu_dropdown>i{
    height:5px;
    font-size:17px;
    color:white;
    transform:scale(1,1.5);
    -webkit-transform:scale(1,1.5);
    position:relative;
    bottom:7px;
}
ul.dropdown{
    display:none;
    z-index:1;
    width:150px;
    padding:0px 0px;
    margin:0;
    background-color:#ffffff;
    border-top:1px solid #00529C;
    position:absolute;
    top:37px;
    border-radius:0px 0px 5px 5px;
    box-shadow:0 4px 4px 0 #999;
    list-style-type:none;
}
@media(max-width:991px){
    ul.dropdown{
        z-index:5;
        width:100%;
        padding:0px 0px;
        margin:0;
        background-color:#ffffff;
        display:block;
        border-top:1px solid #f5f5f5;
        position:absolute;
        top:-231px;
        transform:translateY(0px);
        -webkit-transform:translateY(0px);
        transition: transform 0.3s ease;
        -webkit-transition:transform 0.3s ease;
        border-radius:0px 0px 0px 0px;
        box-shadow:none;
        list-style-type:none;
    }
    ul.dropdown.open{
        transform:translateY(231px);
        -webkit-transform:translateY(231px);
        box-shadow:0px 4px 15px 0px #575757;
    }
    .annonces_une_entry_image{
        border-top: none;
    }
}
ul.dropdown>li{
    display:block;
    text-align:center;
    padding:11px 0px;
}
ul.dropdown>li:active{
    background-color:#D2D2D2;
}
ul.dropdown>li:not(:last-child){
    border-bottom:1px solid #D2D2D2;
}

ul.dropdown>li>a{
    text-decoration:none;
    color:#00529C;
    font-family:'neo_bold';
    text-transform:uppercase;
    font-size:14px;
}
.mobile_button{
    border:none;
    background-color:#ffffff;
    padding:0;
    text-align:center;
    width:82px;
    height:82px;
}
.mobile_button>img{
    width:100%;
    height:auto;
}

@media(max-width:679px){
    button:focus, input:focus{
        outline:0;
    }
}
@media(max-width:991px){
    .margin_mobile{
        margin-bottom:15px;
    }
}
#pages>*{
    margin-left:8px;
}

@media(max-width:400px){
    #pages>*{
        margin-left:0px;
    }
}
.title{
    margin:0px;
    font-family:'Helvetica', sans-serif;
}
@media(max-width:991px){
    .title{
        background-color:#00529C;
        padding:8px;
        color:#ffffff;
        font-size:15px;
        font-weight:600;
    }
    #logoLuxOnline>img{
        width:150px;
    }
}
#overlay{
    opacity:0;
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    background-color:black;
    width:100%;
    z-index:1;
    -webkit-transition:visibility ease 0.3s,opacity 0.3s ease;
    -moz-transition:visibility ease 0.3s,opacity 0.3s ease;
    -o-transition:visibility ease 0.3s,opacity 0.3s ease;
    -ms-transition:visibility ease 0.3s,opacity 0.3s ease;
    transition:visibility ease 0.3s,opacity 0.3s ease;
}
#overlay.open{
    opacity:0.5;
    visibility:visible;
}

#mobileInputVolet{
    width:100%;
    position:absolute;
    transform:translateY(0);
    -webkit-transform:translateY(0);
}
@media(max-width:991px){
    #bazarInputs{
        width:100%;
        position:absolute;
        top: -90px;
        left:0px;
        z-index:2;
        padding: 15px 15px 10px 15px;
        transform:translateY(0px);
        -webkit-transform:translateY(0px);
        background-color:#ffffff;
        border-bottom:1px solid #00529C;
        transition:transform 0.3s ease;
        -webkit-transition:transform 0.3s ease;
    }
    #bazarInputs.open{
        box-shadow:0px 4px 15px 0px #575757;
        transform: translateY(90px);
        -webkit-transform: translateY(90px);
    }
}
@media (max-width:569px){
    .gallery-cell {
        width: 50%;
    }
}
@media (min-width:570px){
    .gallery-cell {
        width:50%;
    }
}
@media (min-width:916px){
    .gallery-cell {
        width:33.3333333%;
    }
}
@media (min-width:1182px){
    .gallery-cell {
        width:25%;
    }
}
.gallery .flickity-viewport {
    position:absolute;
    width:100%;
}
.gallery-cell {
    height:100%;
}
.flickity-prev-next-button{
    border:none;
}

.flickity-prev-next-button.previous svg{
    top:20% !important;
    left:25% !important;
}
.flickity-prev-next-button.next svg{
    top:24% !important;
    left:13% !important;
}
@media(min-width: 1400px){
    .flickity-prev-next-button.next {
        margin-right: -57px;
    }
    .flickity-prev-next-button.previous {
        margin-left: -57px;
    }
}

#userMenu .category_number{
    color: #FF0600;
    font-weight: 600;
}
.annonces_une_entry_content{
    padding: 0px 10px;
}