
a, a:hover {
    /* color: #555; */
    /* text-decoration: none !important; */
}

.glyphicon {
    font-weight: normal !important;
}

#bazarSearch_choice {
    /* height: 30px; */
    /* line-height: 30px; */
}

#search_result_title, .search_section_title {
    font-weight: bold;
    color: #444;
}

.search_section_title {
    font-size: 11pt;
    /* margin-left: -18px; */
    /* padding-left: 15px; */
}

#search_result {
    margin-top: 20px;
}
@media(max-width: 991px){
    #search_result {
        margin-top: 0px;
    }
    #search_result .title{
        color: #FFF;
    }
    .search_section_title{
        margin-left: 0px;
    }
}
/*
#search_result_content {
        border-collapse: separate;
        width: 900px;
        border-collapse: collapse;
        margin-top: 10px;
        margin-bottom: 20px;
        
        width: 1030px;
        width: 990px;
}

.search_result_entry {
        width: 50%;
        height: 130px;
        border: 1px solid #e0e0e0;
        cursor: pointer;
}

.search_result_entry {
        width: 100%;
        margin-top: -1px;
}
*/
.search_result_entry:hover {
    opacity: 0.9;
}
/*
.search_result_entry table {
        width: 100%;
        height: 100%;
        position: relative;
}

.search_result_entry_image {
        width: 20%;
        width: 130px;
}

.search_result_entry_image_pic {
        width: 90px;
        height: 90px;
        line-height: 90px;
        border: 1px solid #e0e0e0;
        margin-left: 10px;
        text-align: center;
}

.search_result_entry_image_pic {
        margin: 0 auto;
}

.list-group-style1 .search_result_entry_image_pic {
        margin-left: 19px;
}

.search_result_entry_desc {
        width: 50%;
        width: 710px;
        vertical-align: top;
        padding-left: 15px;
        padding-top: 18px;
}

.search_result_entry_desc {
        padding-left: 0px;
}

.list-group-style1 .search_result_entry_desc {
        width: 250px;
        padding-top: 18px;
}


.search_result_entry_info {
        width: 30%;
        width: 150px;
        //position: relative;
}
*/
.search_result_entry_desc_urgent {
    background: none repeat scroll 0 0 red;
    color: #fff;
    text-align: center;
    width: 90px;
    font-weight: bold;
    margin-bottom: 5px;
}
/*
.search_result_entry_desc_title {
        color: #005dc3;
        margin-bottom: 5px;
        width: 100%;
        overflow: hidden;
        height: 20px;
}

.search_result_entry_desc_genre {
        color: #aaa;
        font-size: 11pt;
}

.search_result_entry_info_price {
        position: absolute;
        right: 10px;
        top: 20px;
        text-align: right;
}

.search_result_entry_info_day {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 10pt;
}
*/
/* display buttons design */
.item.grid-group-item {
    border: 1px solid #e0e0e0;
    width: 50%;
    height: 130px;
    margin-top: -1px;
    margin-right: -1px;
    float: left;
}
.item.grid-group-item .search_result_entry_image{
    width: 33.33333333%;
    position: relative;
    float: left;
}
.item.grid-group-item .search_result_entry_content{
    width: 66.66666667%;
    position: relative;
    float: left;
}

.item.list-group-item {
    border: 1px solid #e0e0e0;
    width: 100%;
    height: 130px;
    margin-top: -1px;
}
.item.list-group-item .search_result_entry_image{
    width: 25%;
    position: relative;
    float: left;
}
.item.list-group-item .search_result_entry_content{
    width: 75%;
    position: relative;
    float: left;
}
@media(max-width: 679px){
    .item.list-group-item, .item.grid-group-item{
        width: 100%;
    }
    .item.list-group-item .search_result_entry_image, .item.grid-group-item .search_result_entry_image{
        width: 50%;
    }
    .item.list-group-item .search_result_entry_content, .item.grid-group-item .search_result_entry_content{
        width: 50%;
    }
}

.list-group-item, .grid-group-item {
    padding: 0px;
}

.list-group-style1 .leftborderless {
    border-left: none;
    margin-left: 1px;
}

/*NEW params*/

#content {
    min-height: 850px;
}

.search_section_data_price {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    line-height: 26px;
    padding-left: 10px;
    margin: 0 5px;
    width: 34%;
}

.search_section_data_button {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0px;
    line-height: 30px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search_result_empty {
    color: #aaa;
    font-size: 12pt;
    margin-left: 3px;
}

#bazarBandeau_buttons {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    height: 100%;
}
#bazarBandeau_buttons>a{
    height: 100%;
    padding-top: 8px; 
    /* padding-left: 16px; */
}

.glyphicon {
    margin-right: 5px;
}

#bazarBandeau_search_results {
    font-size: 10pt;
    float: left;
    display: inline-block;
    margin-top: 3px;
}

#bazarBandeau_search_results_nbr {
    color: #f7941d !important;
}

#bazarBandeau_mobile_philter{
    height: 100%;
    width: 33px;;
    float: right;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    padding: 2px 0px;
}
#bazarBandeau_mobile_philter.open{
    background-color: #e6e6e6;
}
#bazarBandeau_mobile_philter:active{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#bazarBandeau_search_arrangeby {
    margin-right: 10px;
    height: 100%;
    float: right;
    position: relative;
    display: inline-block;
}

#bazarBandeau_search_arrangeby_text {
    font-weight: normal !important;
    font-size: 10pt;
    width: 90px;
    text-align: right;
    margin-top: 1px;
}

.search_choice_box {
    position: relative;
}

#bazarBandeau_search_arrangeby_select_container, .search_choice_box_container {
    position: relative;
    left: 98px;
    width: 150px;
    height: 28px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
@media(max-width: 991px){
    #bazarBandeau_search_arrangeby_select_container, .search_choice_box_container {
        position: relative;
        left: 90px;
        width: 160px;
        height: 28px;
        background: #FFF url(../img/icon/tri.svg) no-repeat;
        background-size: Auto 15px;
        background-position: 95% center;
        padding: 0px 10px;
        border: 1px solid #CCC;
        border-radius: 3px;
    }
}
#bazarBandeau_search_arrangeby_select, .search_choice_box_select {
    height: 100%;
    width: 160px;
    font-size: 10pt;
    cursor: pointer;
    border: 1px solid #CCC;
    color: #555;
    padding: 1px 28px 0px 4px;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;  text-overflow: ellipsis;
    -webkit-appearance: none;
    background: url(../img/icon/tri.svg) no-repeat #FFF;
    background-size: 18px auto;
    background-position: 95% center;
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
}
#bazarBandeau_search_arrangeby_select::-ms-expand, .search_choice_box_select::-ms-expand {
    display: none;
}
.search_choice {
    width: 180px;
    height: 60px;
    top: 5px;
}

.search_choice_box_container {
    width: 175px;
}

.search_choice_box_select {
    width: 200px;
}

@media(max-width: 450px){
    #bazarBandeau_search_arrangeby_select {
        width: 34px;

        padding: 0px;
        padding-right: 29px !important;
        background-position: center center;
        background-size: 20px auto;
    }
}
#philter_dropdown{
    z-index: 1;
    width: auto;
    display: none;
    text-align: left;
    padding: 0px 21px;
    padding-top: 10px;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    position: absolute;
    top: 37px;
    right: 0px;
}
#philter_dropdown.open{
    display: inline-block;
}
#philter_dropdown #philtre_options>.search_section{
    padding: 0px;
    width: 100%;
}
#philter_dropdown #philtre_options>.search_section:not(:last-child){
    margin-bottom: 10px; 
}

#bazarBandeau_search_arrangeby_select_container img, .search_choice_box_container img {
    position: absolute;
    right: 8px;
    top: 10px;
}

#bazarBandeau_search_arrangeby_select option, .search_choice_box_select option {
    background: #fff;
    padding: 7px;
}

.search_result_entry_desc_long {
    font-size: 11pt;
}

.search_separator{
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
    display: inline-block;
    /* float: left; */
    width: 100%;
}
.search_separator.advanced{
    margin: 13px 0;
}

#search_button {
    margin-bottom: 40px;
    margin-left: 0px;
}

.search_section_data td, .search_section_data tr, .search_section_data {
    line-height: 20px;
    /* padding: 10px; */
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
}

#search_motcle {
    height: 50px;
    vertical-align: top;
}

.search_select_container {
    position: relative;
}

.search_text {
    font-size: 11pt;
}

#search_text_in {
    /* position: relative; */
    /* top: -35px; */
    display: block;
}

.search_input_text {
    height: 35px;
    line-height: 25px;
    width: 100%;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 5px;
}

#search_category {
    margin-bottom: 25px;
}

.search_checkbox, .search_section_data_radio {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.search_radio_1, .search_radio_2 {
    width: 100px;
}
.search_radio_text {
    width: 150px;
}

.search_section {
    padding: 20px 0 0 15px;
    height: 100%;
    width: 100%;
    float: left;
    position: relative;
    display: inline-block;
}
.search_section.advanced{
    padding: 0px 0 0 15px;
}

.add_annonce_select {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 230px;
}

.add_annonce_rubric {
    display: none;
}

.search_main_data {
    height: auto;
}

#backToSearch {
    font-weight: normal;
    font-size: 10pt;
    text-decoration: underline;
    margin-left: 10px;
    cursor: pointer;
}

#search_more {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: #f7f7f7;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 50px;
    cursor: pointer;
    margin-left: -2.5px;
    color: #555;
}

#search_more:hover {
    opacity: 0.9;
    border: 1px solid #c9c9c9;
}

/* fix for URGENT display in grid mode */
.grid-group-item .search_result_urgent {
    padding-top: 10px;
}
.list-group-item .search_result_urgent {
    padding-top: 18px;
}

.search_input_number, .search_input_double, .search_input_date {
    width: 150px; 
}

.attribute_text {
    vertical-align: top;
}

.search_section_data_radio_entry {
    display: inline-block;
}

.attribute_select, .attribute_select .add_annonce_select {
    padding-top: 0px !important;
    margin-top: 5px !important;
}

.attribute_option, .attribute_option .search_input_text {
    padding-top: 0px !important;
    margin-top: 6px !important;
}

.attribute_option .search_section_data_radio_entry, .attribute_option .search_checkbox_atribute {
    padding-top: 10px !important;
}

.search_section_range {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    line-height: 26px;
    padding-left: 10px;
    margin: 0 10px;
    width: 100px;	
}
/*Bootstrap*/
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-default {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}

.btn>i{
    font-size: 14px;
    position: relative;
    color: #808382;
    top: 1px;
    right: 5px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.search_category_container{
    width: 78.870968%; 
    float: left; 
    display: inline-block;
}

@media(max-width: 991px){
    .search_category_input, .search_category_container{
        width: 70% !important;
    }
}

.search_input_container{
    display: inline-block;
    position: relative;
}
.search_select{
    display: block;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 65%;
    height: 35px;
    width: 100%;
    margin: 5px 0px;
}

.search_section_data_entry.advanced{
    display: inline;
}

#search_category_container{
    padding: 10px 10px 0px 0px;
}